h2,h3,h4,h5{
  font-weight: bolder;
}
h2{
  padding: 10px 0 10px 15px;
  font-size: 30px;
}
h3{
  padding: 5px 0 5px 0;
  font-size: 23px;
}
h4{
  font-size: 19px;
  padding: 5px 0 5px 0;
}
h5{
  font-size: 17px;
  padding: 5px 0 5px 0;
}
p{
  padding: 5px 0 5px 0;
  line-height: 20px;

}
main li, main p, main h3{
  padding: 5px 0 5px 20px;
}
li{
  padding: 5px 0 5px 0;
}
html, body{
  height: 85%;
}

body {
  background: rgb(215, 215, 215);
  font-family: helvetica, sans-serif;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: rgb(0, 128, 255);
  overflow: auto;
  padding: 10px;
  box-shadow: rgb(95, 95, 95) 0px 0px 10px;
  position: fixed;
  width: 100%;
}

header h1 {
  float: left;
  width: 570px;
  font-family: roboto, sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 900;
}

header nav {
  float: right;
  width: 285px;
  margin-top: 20px;
  color: white;
}

header nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0 8px 0 8px;
}
header nav a:hover {
  color: rgb(0, 98, 195);
}


main {
  background: white;
  overflow: auto;
  padding-top: 95px;
  width: 890px;
  margin: auto;
  height: 100%;
}

main img{
  float: right;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}
footer {
  padding: 16px 0 0 0;
  color: white;
  background: rgb(36, 36, 36);
  height: 193px;
}

footer .left {
  float: left;
  width: 570px;
}

footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: gray;
}

footer .sitemap {
  float: right;
  width: 285px;
}